<%- include('partials/header', {pageTitle: "Auth"}) %>

<body>
  <div class="panel">
    <img src="/images/xandrlogo.png" class="xandr-logo">
    <h1 class="text-center mb-4 auth-title">API</h1>
    <div class="form-text">Fill in your Xandr platform credentials</div>
    <form method="POST" action="/auth">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
      </div>
      <button type="submit" class="btn btn-primary submit-button">Submit</button>
    </form>
  </div>
</body>
</html>
